.global-inner {
	display: grid;
	width: 90%;
	max-width: 100%;
	margin: 0 auto;

	background: $white;
	@include m-min {
		width: 960px;
	}
	@include l-min {
		width: 1100px;
	}
	@include xl-min {
		width: 1280px;
	}
}