
// Fonts
$ff1: 'Poppins', sans-serif;

// Basic colors
$white: #ffffff;
$black: #000000;

// Line Height
$lh: 26px;

// Colors
$color_primary: #60F6E4;
$color_secundary: #F5D1FB;
$color_text: #181D35;
$color_gradient: linear-gradient(90deg, rgba(96,246,228,1) 0%, rgba(245,209,251,1) 100%);
